.header{
   background-color: #FA0008;
   width:100%;
  

   .header-button{
    border: 1px solid #dcdcdc;
    width: 140px;
    font-size: 1rem;
    background: #FFF;
    justify-content: center;
    height: 50px;
    border-radius: 4px;
    font-weight: 400;
    color:red;
}
  

    .header-menu{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:30px;
        text-align: right;

        
    }

    .header-logo{
        text-align: center;
        margin-top: 30px;
        img{
            width:200px;
        }
    }

    .home-search{
        min-height: 270px;
    }

    .header-search{
        margin-top: 20px;
        text-align: center;

        input{
            width:400px;
            height: 40px;
            border-radius: 4px;
            padding-left: 10px;

            @media (max-width: 767px){
                width: 300px;
            }
        }

        
        


    }

    .address_result{
        text-align: center;
        margin-top: 16px;
        font-size: 18px;
        font-family: monospace;
        color: white;
    }

    .address_continue{
        text-align: center;
        margin-top: 8px;
        padding-bottom: 10px;
    }
}