.companie{
    background-color: #edf5ef;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    .logo{
        background-color: #FFFFFF;
        text-align: center;
    }

    .caption{
        padding: 9px;
        color: #333;
    }
}

